.faq-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.faq-item {
  cursor: pointer;
  overflow: hidden;
}

.faq-item.expanded .faq-answer {
  max-height: 200px; /* Or adjust depending on the content */
}

.faq-answer {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 676px) {
  .faq-header {
    flex-direction: row;
  }
}
